<div class="h-100 d-flex flex-column pt-2">
  <div class="d-flex justify-content-between">
    <div class="d-flex flex-column">
      <span class="text-muted font-weight-bold small mx-2 mb-2">Grid settings:</span>
      <app-grid-settings-form [value]="gridSettings$ | async" (applied)="onGridSettingsApplied($event)">
      </app-grid-settings-form>
    </div>
    <div class="d-flex flex-column">
      <span class="text-muted font-weight-bold small mx-2 mb-2">Paint settings:</span>
      <app-paint-settings-form [value]="paintSettings$ | async" (changed)="onPaintSettingsChanged($event)">
      </app-paint-settings-form>
    </div>
  </div>
  <div class="flex-fill">
    <router-outlet></router-outlet>
  </div>
  <div class="m-1 m-2 d-flex justify-content-between align-items-center">
    <app-performance-meter></app-performance-meter>
    <a href="https://github.com/Gretam11/point" class="text-dark">
      <mat-icon svgIcon="github" style="height:35px; width:35px;"></mat-icon>
    </a>
  </div>
</div>